@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #000;
  --counter-size: 69px;
  --mobile-counter-size: 22px;
}
.counter-container {
  max-width: 1400px;
  margin: auto;
}
.counter-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.counter-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "Metrophobic", sans-serif;
  text-align: center;
}

.counter-child-image {
  width: 90px;
  height: 90px;
}
.counter-child-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.countting-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.counting-value {
  font-size: var(--counter-size);
}
.countting-box p {
  color: var(--text-color);
}
.custom-divider {
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 50%;
  margin: auto;
}
@media screen and (max-width: 550px) {
  .counter-grid {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .counter-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    text-align: center;
  }
}
